@{
    ViewBag.Title = "The Good Samaritan - Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Manage Roles</h1>
    <br/><br/>
    <p>
        <a href="AddNewRole" class="btn btn-primary btn-lg">Add A New Role</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="RemoveExistingRole" class="btn btn-primary btn-lg">Remove An Existing Role</a>
        <br/><br/>
        <a href="AddUserToRole" class="btn btn-primary btn-lg">Add A Role To A User</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="RemoveUserFromRole" class="btn btn-primary btn-lg">Remove A Role From A User</a>
    </p>
</div>
